
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- 
        Awesome Template
        http://www.templatemo.com/preview/templatemo_450_awesome
        -->
		<title>WEB Fikry</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
	
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>085331743791</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">hakamalfiekry@gmail.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-apple"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Fiekry WebSite</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/index">HOME</a></li>
						<li><a href="/about">ABOUT</a></li>
						
						<li><a href="/berita">BLOG BERITA</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>Fiekry</span></h2>
              <h4>Di dunia yang semakin terhubung, web adalah jendela menuju keajaiban. Ia bukan hanya kumpulan halaman, melainkan pintu tak terbatas menuju pengetahuan, inspirasi, dan kreativitas.</h4>
                  <h4>Web mengikat kita dalam simpul tak terlihat, menghubungkan hati dan pikiran dari ujung dunia. Ia adalah perpustakaan tanpa batas, tempat di mana setiap klik membuka dunia baru.</h4>
                  <h4>Dengan web, kita dapat berbagi cerita, belajar dari satu sama lain, dan menciptakan jejak digital yang abadi. Ia adalah alat untuk menyatukan perbedaan, membangun jembatan antara budaya, bahasa, dan generasi.</h4>
                  <h4>Web bukan hanya teknologi, tetapi juga seni. Desain yang indah dan fungsional menjadi pencerminan kreativitas manusia. Di dalamnya terdapat potensi untuk menciptakan pengalaman yang tak terlupakan.</h4>
                  <h4>Jadi, mari jelajahi web dengan mata terbuka dan hati yang lapang. Di setiap klik, terdapat cerita baru untuk ditemukan, keindahan untuk dinikmati, dan pengetahuan untuk diperluas. Web, tempat di mana kata-kata indah menjadi kenyataan.</h4>
              
    				</div>
						
						
                
                  
          

						
					</div>
					
				</div>
			</div>
		</section>
		<!-- end about -->

    	

    	
        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2023 by hakamalfiekry</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
        <script src="{% static 'js/typed.js ' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

	</body>
</html>